@font-face {
  font-family: 'baloo';
  src: url('font/BalooTamma2-Regular.ttf');
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'baloo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  position: relative;
  height: 100%;
}
